@use "../variables/colors" as *;
@use "../variables/dimensions" as *;
@use "../helpers/mediaQuery_mixin" as *;
@use "../helpers/setClass_mixin" as *;

/*Start Skills*/
#Skills {
    padding: $padding;
    background-color: $backgroundColor;
    text-align: center;

    .mySkills {
        display: flex;
        flex-direction: column;
        align-items: center;

        .skill-box {
            width: 90%;
            padding: 15px;
            margin: 0 0 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;

            .skill-name {
                width: 100%;
                margin-bottom: 15px;
                font-weight: bold;
                line-height: 30px;
            }

            .bar {
                width: 100%;
                height: 30px;
                position: relative;
                background-color: $backgroundColor;
                border-radius: 4px;
                overflow: hidden;

                span {
                    width: 0;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: var(--mainColor);
                    transition: 0.7s;
                    transition-timing-function: linear;
                }
            }
        }
    }
}

@include mediaQuery($mobile_min_width) {
    @include setClass("#Skills .mySkills .skill-box", $mobile_min_width)
}

@include mediaQuery($tablet_min_width) {
    @include setClass("#Skills .mySkills .skill-box", $tablet_min_width);
    @include setClass("#Skills .mySkills .skill-box .skill-name", $tablet_min_width)
}

/*End Skills*/