@use "../variables/dimensions" as *;

@mixin setClass($name, $size) {
    #{$name} {
        @if $size ==$mobile_min_width {
            @if $name =="#landing .text h1" {
                font-size: 34px;
            }

            @else if $name =="#landing .text p" {
                font-size: 18px;
            }

            @else if $name =="#About .about-us .head" {
                width: fit-content;
            }

            @else if $name =="#Skills .mySkills .skill-box" {
                width: 100%;
            }

            @else if $name=="#Timeline .timeline-content" {
                width: 100%;
                margin: 0;
            }

            @else if $name =="#Features .features-content .feature" {
                width: calc(100% / 2);
            }

            @else if $name=="#Testimonials .testimonials-content" {
                width: 100%;
                margin: 0;
            }

            @else if $name =="#Contact .container form" {
                max-width: 800px;
            }

            @else if $name =="#Footer" {
                font-size: 16px;
            }

        }

        @else if $size ==$tablet_min_width {
            @if $name =="#landing .text p" {
                font-size: 20px;
            }

            @else if $name =="#About .about-us" {
                flex-direction: row;
                align-content: start;
            }

            @else if $name =="#About .about-us .head" {
                padding: 30px;
                text-align: start;
            }

            @else if $name =="#Skills .mySkills .skill-box" {
                flex-direction: row;
            }

            @else if $name =="#Skills .mySkills .skill-box .skill-name" {
                width: 140px;
                margin-bottom: 0;
            }

            @else if $name =="#Timeline .timeline-content .card" {
                width: calc(50% - 25px);
                margin-bottom: 40px;
            }

            @else if $name =="#Timeline .timeline-content .card::before" or $name=="#Timeline .timeline-content .card::after" {
                display: block;
            }

            @else if $name=="#Testimonials .head" {
                text-align: start;
            }

            @else if $name =="#Testimonials .testimonials-content .card" {
                width: calc(98% / 3);
                margin: 0;
            }

            @else if $name =="#Contact .container form .left" or $name =="#Contact .container form .right" {
                width: 49%;
            }
        }

        @else if $size ==$smallScreens_min_width {
            @if $name =="#landing .nav-container .navbar .links-container .toggleButton" {
                display: none;
            }

            @else if $name =="#landing .nav-container .navbar .links-container .links" {
                display: block;
            }

            @else if $name =="#Features .features-content .feature" {
                width: calc(100% / 3);
            }

            @else if $name =="#Testimonials .testimonials-content .card .card-info" {
                flex-direction: row;
                justify-content: start;
            }

            @else if $name =="#Testimonials .testimonials-content .card .card-info img" {
                margin-right: 20px;
            }

            @else if $name =="#Testimonials .testimonials-content .card .card-info .employees h4" {
                margin: 0 0 10px;
            }
        }

    }
}